<h1><%= @note.title %></h1>
<h2><%= @note.content %></h2>

<% if @note.has_incomplete_items? %>
  <h3>Incomplete items:</h3>
  <ul>
    <% @note.items.incomplete.each do |item| %>
      <li><%= item.content %></li>
    <% end %>
  </ul>
<% end %>

<% if @note.has_completed_items? %>
  <h3>Completed items:</h3>
  <ul>
    <% @note.items.complete.each do |item| %>
      <li><%= item.content %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
