<h2><%= @note.title %></h2>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Content</th>
      <th>Operate</th>
    </tr>
  </thead>
  <tbody class="note_items">
  <% @note.items.each do |item| %>
    <tr id="note_item_<%= item.id %>">
      <% if item.completed? %>
        <td><%= item.completed_at %></td>
      <% else %>
        <td><%= link_to "Complete", completed_note_item_path(@note,item), method: :patch %></td>
      <% end %>
      <td><%= item.content %></td>
      <td><%= link_to "Edit", edit_note_item_path(@note,item) %>
      <%= link_to "Delete", note_item_path(@note,item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New item", new_note_item_path(@note) %>
</p>