<!DOCTYPE html>
<html>
<head>
  <title>Webnotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <h1><%= link_to "WebNotes", root_path %></h1>
  <ul>
    <li><%= link_to "List Notes", notes_path %></li>
  </ul>
</nav>
<br class="clear"/>

<% flash.each do |type,msg| %>
<div class="alert flash <%= type %>">
  <%= msg %>
</div>
<% end -%>
<%= yield %>

</body>
</html>
